@import url('../../styles/variables.css');

.container {
    background-color: #11071d;
    color: var(--color-white);
    font-family: var(--font-main);
    padding: 50px 20px;

    & h2 {
        max-width: 1000px;
        margin: 0 auto;
        text-align: left;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #ccc;
}

.timelineItem {
    position: relative;
    width: 45%;
    margin-bottom: 2rem;
}

.timelineItem.left {
    left: 0;
    text-align: right;
}

.timelineItem.right {
    left: 55%;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #2a2a4a;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: justify;
}
