@import url(../../styles/variables.css);

.containerEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #11071d;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border: 5px solid #231238;
    border-radius: 20px;
    background-color: #331953;

    & input {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
        
    }
}

.textArea {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--color-white);
    font-family: var(--font-main);

    & p {
        max-width: 600px;
        text-align: justify;
        line-height: 1.5;
    }
}