@import url('../../styles/variables.css');

/* src/components/Hero.module.css */
/* Começo da estilização do Hero do planeta com as estrelas e do texto de apresentação*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--color-text);
  padding: 20px;
  font-family: var(--font-main);
  background-color: var(--color-purple);
}

.apresentation {
  position: absolute;
  display: flex;
  gap: 20px;
  z-index: 10;
  top: 300px;
  left: 500px;
  color: var(--color-white);
  font-family: var(--font-main);
  background: transparent;
}

.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-orange); /* Lilás neon */
  box-shadow: 0 0 10px var(--color-orange), 0 0 20px var(--color-orange);
}

.line {
  width: 5px;
  height: 250px;
  margin-top: 4px;
  background: linear-gradient(to bottom, var(--color-orange) 0%, transparent 100%);
}
/* --------------------------------Fim---------------------------------------- */

/* Parte do texto com efeito de gradiente */
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;

  & p, h2 {
    background: transparent;
  }
}

.subtitle {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.word {
  display: inline-block;
  font-size: 42px;
  background: none;
}

.letter {
  display: inline-block;
  color: white;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, var(--color-yellow), var(--color-pink), var(--color-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  cursor: default;
  transition: 0.3s ease-in-out;
}

.letter:hover {
  -webkit-text-fill-color: transparent;
}

.slogan {
  margin-top: 10px;
  font-size: 1.2rem;
  color: white;
}

.buttonScroll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-purple);
  margin-top: -90px;
}
/* --------------------------------Fim---------------------------------------- */
