@import url('../../styles/variables.css');

footer {
    background: linear-gradient(to bottom, #11071d, #0a040f);
    color: var(--color-white);
    font-family: var(--font-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.footerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & img {
        width: 60px;
        height: 60px;
    }

    & h2 {
        font-size: 26px;
        cursor: default;
    }
}

.direitosAutorais {
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

.redesSociais {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* -------------------- Whatsapp -------------------- */
.whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.whatsapp a {
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    display: flex;
}

.whatsapp:hover {
    border-color: #25d366; /* borda verde */
    transition: all 0.2s ease-in-out;
}

.whatsapp:hover a {
  color: #25d366;
  filter: drop-shadow(0 0 6px rgba(37, 211, 102, 0.6))
          drop-shadow(0 0 12px rgba(37, 211, 102, 0.4));
}
/* -------------------- Fim -------------------- */

/* -------------------- Instagram -------------------- */
.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.instagram a {
    color: var(--color-white);
    transition: all 0.2s ease-in;
    display: flex;
}

.instagram:hover {
    border-color: #E4405F;
    transition: all 0.2s ease-in;
}

.instagram:hover a {
  color: #E4405F;
  filter: drop-shadow(0 0 6px rgba(228, 64, 95, 0.6))
          drop-shadow(0 0 12px rgba(228, 64, 95, 0.4));
}
/* -------------------- Fim -------------------- */

/* -------------------- Github -------------------- */
.github {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.github a {
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
    display: flex;
}

.github:hover a {
  color: #ffffff;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6))
          drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
}
/* -------------------- Fim -------------------- */